body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/*Nav Bar CSS*/

#navBar {
  list-style: none;
  display: flex;
  margin: 0;
  border: 1px solid black;
  padding: 0;
}

a {
  text-decoration: none;
}

.navElements {
  margin: 0 .5em;
  padding: 1em;
}

.navElements a:hover {
  color: #cd5d67;
}

.navElements a:active {
  color: #968772;
}

/*Home Section CSS*/

.headshot {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 1px solid black;
}

.aboutMe {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.row-1 {
  display: flex;
  flex-flow: row wrap;
  margin: .25em;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.row-2 {
  display: flex;
  flex-flow: row wrap;
  margin: .25em;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0em;
}

.portfolioImg {
  width: 7em;
  height: 7em;
  margin: .5em;
}
