/* browser-sync start --server --files "*.html, *.css" */

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #656565;
  font-family: 'Noto Sans', sans-serif;
}

/*Nav Bar CSS START*/

#navBar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  padding: 0;
  width: 100%;
  background-color: #7E7E7E;
  position: fixed;
  box-shadow: 0 0 25px 0 #666;

}

a {
  text-decoration: none;
  color: white;
}

.navElements {
  margin: 0 .5em;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.navElements a:hover {
  color: palegoldenrod;
}

.navElements > a > i {
  margin: 0 .5em;
}

/*Nav Bar CSS END*/

/*Home Section CSS START*/

.headshot {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 2px solid #666;
}

.aboutMe {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(87, 211, 204);
  padding: 3em 0; 
}

.aboutMe a:hover {
  color: #656565;
}

.column-1,
.column-2 {
  margin: 2em;
}

/*Home Section END*/

/*Portfolio Section START*/

.portfolio {
  background-image: url(imgs/images.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.5em 0; 
}

.portfolio > h2 {
  text-align: center;
  margin: 0;
  color: whitesmoke
}

.portfolioPrjs{
  display: flex;
  flex-flow: row wrap;
  margin: 1em;
  height: 100%;
  justify-content: center;
  padding: 0;
}

.portfolioPrjs img:hover {
  box-shadow: 0 0 50px 0 whitesmoke;
}

.portfolioImg {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 16.5em;
  height: 10em;
  margin: .5em;
  border: 3.5px solid grey;
} 

.ImgBody a:hover {
  color: #656565;
}

.PrtImgs {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 20em;
  height: 20em;
  margin: 1em;
} 

.ImgTitle {
  color: whitesmoke;
}

.ImgBody {
  align-items: center;
  color: #A9A9A9;
  margin: .5em 0;
  text-align: center;
}

/*Portfolio Section END*/

/*Skills Section START*/

.skillsList {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(87, 211, 204);
  width: 100%;
  padding: 3em 0; 
}

.skillsList > h3 {
  margin: .5em;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center; 
  padding: 0;
  margin: 0 0 1em 0;
}

.skills > li {
  margin: 1em;
}

.skills i:hover {
  color: whitesmoke;
}

.iconDev {
  font-size: 4em;
}

/*Skills Sections END*/

/*Contact Me START*/

.contactMe {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  background-image: url(imgs/images.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 0; 
  color: whitesmoke
}

.contactList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: .5em;
}

.contactList > li > h2 {
  margin: 0;
}

.contactList > li {
  display: flex;
  justify-content: center;
  margin: 0 .5em;
}

.contactMe > p {
  justify-content: center;
  padding: 0;
  margin-top: 0;
  text-align: center;
}

.contactMe a:hover {
  color: #666;
}

/*Contact Me END*/

/*Footer*/

footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 1em 0; 
  background-color: rgb(87, 211, 204);
}

footer > ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: center;
  margin: 0;
}

footer > ul > li {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

footer > ul > img {
  justify-content: center;
  width: 2em;
  height: 2em;
}

/* Resume Page Start */

#navBarResume {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  padding: 0;
  width: 100%;
  position: fixed;
  background-color: #7E7E7E;
  box-shadow: 0 0 25px 0 #666;
}

.wrapperResume {
  margin: 0 .5em
}

#resumeSkills > h1 {
  margin: 0;
  padding-top: 3em;
}

.fontStyle {
  font-style: italic;
  font-weight: 900;
  color: #656565;
  margin-right: .2em;
}

.resumeSkills {
  margin: .25em
}

.jobTitle {
  display: flex;
  justify-content: space-between
}

h4 {
  margin: 0 .5em 0 .5em;
}

.resumeEnv {
  margin-left: 1.5em;
}

#resumeJobs {
  margin: .5em;
}

#resumeEducation {
  margin: .5em;
}

/* Resume Page End */

/* Media Query */

@media screen and (max-width: 499px){
  .navElements {
    font-size: 8px;
  }

  body{
    font-size: .8em;
  }

  .contactMe {
    font-size: .75em
  }

  footer {
    font-size: .5em;
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  body{
    font-size: .8em;
  }

  .navElements {
    font-size: .7em;
  }
  
  .contactMe {
    font-size: .75em
  }

  footer {
    font-size: .5em;
  }
}

/* End Media Query */
/* Experiment */

.view {
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask,
.view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}


/*1*/

.view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 300px;
  height: 200px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
}