body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #666;
}

/*Nav Bar CSS START*/

header {
  width: 100%;
  top: -.2em;
}

#navBar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
  padding: 0;
  width: 100%;
  background-color: #666;
}

a {
  text-decoration: none;
  color: white;
}

.navElements {
  margin: 0 .5em;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.navElements a:hover {
  color: #cd5d67;
}

.navElements a:active {
  color: #968772;
}

/*Nav Bar CSS END*/

/*Home Section CSS START*/

.headshot {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 2px solid #666;
}

.aboutMe {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: lightblue;
  width: 100%;
  padding: 1em 0; 
}

.column-1,
.column-2 {
  margin: 2em;
}

/*Home Section END*/

/*Portfolio Section START*/

.portfolio {
  width: 100%;
  background-image: url(imgs/images.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0; 
}

.portfolio > h3 {
  text-align: center;
  margin: 0;
}

.portfolioPrjs{
  display: flex;
  flex-flow: row wrap;
  margin: .25em;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.portfolioImg {
  width: 10em;
  height: 10em;
  margin: .5em;
}

/*Portfolio Section END*/

/*Skills Section START*/

.skillsList {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: lightblue;
  width: 100%;
  padding: 1em 0; 
}

.skillsList > h3 {
  margin: .5em;
}

.skills {
  display: flex;
  flex-flow: row;
}

.feSkills,
.beSkills {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: .25em 1em;
}

/*Skills Sections END*/

/*Contact Me START*/

.contactMe {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  background-image: url(imgs/images.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0; 
}

.contactList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: .5em;
}

.contactList > li > h2 {
  margin: 0;
}

.contactList > li {
  display: flex;
  justify-content: center;
  margin: 0 .5em;
}

.contactMe > p {
  justify-content: center;
  padding: 0;
  margin-top: 0;
  text-align: center;
}

.contactMe a:hover {
  color: #666;
}

@media screen and (max-width: 500px) {
  .contactMe {
    font-size: .75em
  }
}

/*Contact Me END*/

/*Footer*/

footer {
  
  border-top: 1px solid black;
  text-align: center;
  width: 100%;
  padding: 1em 0; 
  background-color: lightblue;
}

footer > ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: center;
  margin: 0;
}

footer > ul > li {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

footer > ul > img {
  justify-content: center;
  width: 2em;
  height: 2em;
}
